name: CI Pipeline

on: push

jobs:
  build-job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run build script
        run: ./build.sh

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: build-output
          path: output.txt
          
      - name: Give permission
        run: chmod +x build.sh
            
      - name: Run build script
        run: ./build.sh
